body {
    margin: 0;
    padding: 5px;
}



div {
    border-width: 2px;
    border-style: dotted;
    border-color: red;
}

#header {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: table;
}

#header img {
    float: right;
}

#header p {
    float: left;
}

#header h1 {
    display: none;
}


#main {
    margin: 0px;
    float: left;
    width: 100%;
}


#center {
    float: center;
    padding: 0px;
    display: inline-block;

}

#center h2 {
    margin: 10px;
}

#center p {
    margin: 10px 0;
    background-color: maroon;
    color: green;
}



#center ul li {
    margin: auto;

}

#center ul li sub {
    color: red;
}

#left {
    width: 15%;
    background-color: teal;
    color: aqua;
    margin: 10px;
    float: left;
    display: inline-block;

}

#right {
    width: 150px;
    background-color: purple;
    color: white;
    padding: none;
    font-size: 20px;
    float: right;
    display: inline-block;

}

#footer {
    clear: both;
}